html {
    box-sizing: border-box;
}

*,
*::before,
*::after {
    -webkit-box-sizing: inherit;
    box-sizing: inherit;
}

body {
    font-family: "Poppins";
    font-style: normal;
    font-weight: 400;
    color: white;
    background-color: rgba(25, 22, 27, 1);
}

img {
    max-width: 100%;
    height: auto;
}

p {
    font-family: "Poppins";
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 28px;
    color: #b8b8b8;
}

.general-button {
    width: 164px;
    height: 48px;
    background: #ffb577;
    border: #FFB577;
}

.general-button:hover,
.general-button:focus,
.general-button:active {
    opacity: 0.75;
}

/*  header styles start (Julia)*/

.header {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    justify-content: space-between;
    height: 80px;
}

.header__logo {
    display: flex;
    align-items: center;
}

.header__logo-pic {
    width: 96px;
    height: 19.42px;
}

.wrapper {
    max-width: 1278px;
    margin: 0 auto;
    padding: 0 15px;
}

.header__left-part {
    display: flex;
    flex-wrap: wrap;
}

.header__list {
    display: flex;
    flex-wrap: wrap;
}

.header__item {
    display: flex;
    flex-wrap: wrap;
    list-style-type: none;
    margin-right: 40px;
}

.header__item:last-child {
    margin-right: 0;
}

.header__link {
    font-family: "Poppins";
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
    text-transform: capitalize;
    color: #ffffff;
    text-decoration: none;
}

.header__link:hover,
.header__link:focus,
.header__link:active {
    opacity: 0.75;
}

.right-link {
    display: inline-block;
    padding-right: 32px;
    line-height: 24px;
    color: rgba(255, 196, 146, 1);
    text-decoration: none;
    background: url(/assets/img/svg/right-arrow.svg) no-repeat 95% center;
    transition: 0.2s all;
}

@media screen and (min-width:320px) {
    .header__burger-menu {
        display: none;
    }
}

/* header  styles end */

/*hero styles start (Julia)*/
.hero {
    margin-bottom: 160px;
}

.hero__container {
    display: flex;
    margin-top: 96px;
}

.hero__left-part {
    max-width: 624px;
    margin-right: 32px;
}

.hero__title {
    max-height: 136px;
    font-family: "Playfair Display";
    font-style: normal;
    font-weight: 700;
    font-size: 56px;
    line-height: 68px;
    color: #ffffff;
    opacity: 0.87;
    margin-bottom: 16px;
}

.hero__subtitle {
    max-width: 624px;
    height: 56px;
    margin-bottom: 32px;
}

.hero__btn {
    margin-bottom: 40px;
}

.sm-text {
    font-size: 20px;
    line-height: 30px;
    height: 30px;
    margin-bottom: -15px;
}

.hero__text {
    margin-bottom: 16px;
}

.hero__image {
    width: 622px;
    height: 683px;
}

@media screen and (max-width: 960px) {
    .hero__container {
        display: block;
    }

    .hero__title {
        font-size: 50px;
        max-width: 700px;
    }

    .hero__left-part,
    .hero__right-part {
        text-align: center;
        max-width: 700px;
        margin: 0 auto;
    }

    .hero__subtitle {
        margin-left: 10%;
    }
}

@media screen and (max-width: 576px) {
    .hero__title {
        font-size: 30px;
    }

    .hero__subtitle {
        margin-bottom: 80px;
    }
}

@media screen and (max-width: 320px) {
    .hero__title {
        font-size: 25px;
    }

    .hero__subtitle {
        margin-bottom: 100px;
    }

    .hero__image {
        display: none;
    }

}

/*hero styles end*/

/* About company styles start (Julia) */

.about-company {
    margin-bottom: 160px;
    display: flex;
}

.about-company__left {
    margin-right: 102px;
}

.about-company__link {
    font-family: 'Playfair Display';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    color: #FFB577;
    text-decoration: none;
}

.about-company__link::after {
    content: '';
    background-color: rgba(255, 255, 255, 1);
    height: 1px;
    width: 48px;
    display: inline;
    /* margin-right: 16px; */
}

.about-company__columns {
    margin-right: 32px;
}

.about-company__title {
    font-family: "Playfair Display";
    font-style: normal;
    font-weight: 700;
    font-size: 48px;
    line-height: 58px;
    color: #ffffff;
    max-width: 613px;
    margin-bottom: 32px;
}

.about-company__column-title {
    font-family: "Poppins";
    font-style: normal;
    font-weight: 500;
    font-size: 24px;
    line-height: 36px;
    color: #c4e4ea;
    margin-bottom: -20px;
}

.about-company__column-title::before {
    content: url(/assets/img/svg/column-ico.svg);
    margin-right: 7px;
}

.about-company__subtitle {
    max-width: 624px;
}

.second-part {
    margin-bottom: 32px;
}

.about-company__right {
    max-height: 700px;
    max-width: 613px;
    position: relative;
}

.about-company__img-2 {
    position: absolute;
    width: 240px;
    height: 500px;
    right: -250px;
    top: 0px;
    border-radius: 0px;
    margin-bottom: 67px;
}

.about-company__img-1 {
    Width: 240px;
    Height: 500px;
    margin-top: 81px;
}

.about-company__container {
    display: flex;
    justify-content: space-between;
}

.about-company__column-subtitle {
    max-width: 187px;
}

.about-company__btn {
    width: 164px;
    height: 48px;
    background: #ffb577;
}

.about-company__btn::after {
    content: url(/assets/img/svg/Arrow-black.svg);
    margin-left: 9px;
}

/* About company styles end (Julia) */