html {
    box-sizing: border-box;
}

*,
*::before,
*::after {
    -webkit-box-sizing: inherit;
    box-sizing: inherit;
}

body {
    font-family: "Poppins";
    font-style: normal;
    font-weight: 400;
    color: white;
    background-color: rgba(25, 22, 27, 1);
}

img {
    max-width: 100%;
    height: auto;
}

p {
    font-family: "Poppins";
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 28px;
    color: #b8b8b8;
}

.general-button {
    width: 164px;
    height: 48px;
    background: #ffb577;
    border: #ffb577;
    cursor: pointer;
}

.general-button:hover,
.general-button:focus,
.general-button:active {
    opacity: 0.75;
}

.wrapper {
    max-width: 1278px;
    margin: 0 auto;
    padding: 0 15px;
}

/*  header styles start (Julia)*/

.header {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    justify-content: space-between;
    height: 80px;
}

.header__logo {
    display: flex;
    align-items: center;
}

.header__logo-pic {
    width: 96px;
    height: 19.42px;
}

.wrapper {
    max-width: 1278px;
    margin: 0 auto;
    padding: 0 15px;
}

.header__left-part {
    display: flex;
    flex-wrap: wrap;
}

.header__list {
    display: flex;
    flex-wrap: wrap;
}

.header__item {
    display: flex;
    flex-wrap: wrap;
    list-style-type: none;
    margin-right: 40px;
}

.header__item:last-child {
    margin-right: 0;
}

.header__link {
    font-family: "Poppins";
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
    text-transform: capitalize;
    color: #ffffff;
    text-decoration: none;
}

.header__link:hover,
.header__link:focus,
.header__link:active {
    opacity: 0.75;
}

.right-link {
    display: inline-block;
    padding-right: 32px;
    line-height: 24px;
    color: rgba(255, 196, 146, 1);
    text-decoration: none;
    background: url(/assets/img/svg/right-arrow.svg) no-repeat 95% center;
    transition: 0.2s all;
}

@media (min-width: 903px) {
    .hamburger-menu {
        display: none;
    }
}

@media (max-width: 902px) {
    .header__clone-container {
        display: none;
    }

    .right-link {
        display: none;
    }

    .header__nav {
        display: none;
    }

    #menu__toggle {
        opacity: 0;
    }

    #menu__toggle:checked+.menu__btn>span {
        transform: rotate(45deg);
    }

    #menu__toggle:checked+.menu__btn>span::before {
        top: 0;
        transform: rotate(0deg);
    }

    #menu__toggle:checked+.menu__btn>span::after {
        top: 0;
        transform: rotate(90deg);
    }

    #menu__toggle:checked~.menu__box {
        left: 0 !important;
    }

    .menu__btn {
        position: fixed;
        top: 40px;
        right: 70px;
        width: 26px;
        height: 26px;
        cursor: pointer;
        z-index: 11;
    }

    .menu__btn>span,
    .menu__btn>span::before,
    .menu__btn>span::after {
        display: block;
        position: absolute;
        width: 100%;
        height: 2px;
        background-color: #ffc492;
        transition-duration: 0.25s;
    }

    .menu__btn>span::before {
        content: "";
        top: -8px;
    }

    .menu__btn>span::after {
        content: "";
        top: 8px;
    }

    .menu__box {
        display: block;
        position: fixed;
        top: 0px;
        left: -100%;
        width: 100%;
        height: 100%;
        margin: 0;
        padding: 80px 0;
        list-style: none;
        background-color: rgba(25, 22, 27, 1);
        box-shadow: 2px 2px 6px rgba(0, 0, 0, 0.4);
        transition-duration: 0.25s;
        z-index: 10;
    }

    .menu__item {
        display: block;
        padding: 12px 24px;
        color: #fff;
        font-family: "Poppins";
        font-size: 20px;
        font-weight: 600;
        text-decoration: none;
        text-align: center;
        transition-duration: 0.25s;
        z-index: 9;
    }

    .right-link {
        padding-right: 32px;
        color: rgba(255, 196, 146, 1);
        text-decoration: none;
        transition: 0.2s all;
    }

    .menu__item:hover {
        background-color: #e1975b;
    }
}

/* header  styles end */

/* hero styles start (Julia) */
.hero {
    margin-bottom: 160px;
}

.hero__container {
    display: flex;
    margin-top: 96px;
}

.hero__left-part {
    max-width: 624px;
    margin-right: 32px;
}

.hero__title {
    max-height: 136px;
    font-family: "Playfair Display";
    font-style: normal;
    font-size: 56px;
    line-height: 68px;
    color: #ffffff;
    opacity: 0.87;
    margin-bottom: 16px;
}

.hero__subtitle {
    max-width: 624px;
    height: 56px;
    margin-bottom: 32px;
}

.hero__btn {
    margin-bottom: 40px;
}

.hero__btn::after {
    content: url(/assets/img/svg/Arrow-black.svg);
    margin-left: 9px;
}

.sm-text {
    font-size: 20px;
    line-height: 30px;
    height: 30px;
    margin-bottom: -15px;
}

.hero__text {
    margin-bottom: 16px;
}

.hero__image {
    width: 622px;
    height: 683px;
}

@media (max-width: 950px) {
    .hero__left-part {
        text-align: center;
    }

    .hero__container {
        display: flex;
        align-items: center;
        justify-content: center;
        flex-wrap: wrap;
    }

    .hero__title {
        font-size: 40px;
        margin-bottom: 40px;
    }

    .hero__left-part,
    .hero__right-part {
        max-width: 700px;
        margin: 0 auto;
    }

    .hero__subtitle {
        font-size: 15px;
    }

    .hero__subtitle:last-child {
        margin-left: 5%;
    }
}

@media screen and (max-width: 576px) {
    .hero__left-part {
        max-width: 350px;
    }

    .hero__title {
        font-size: 30px;
    }

    .hero__left-part {
        text-align: center;
    }

    .hero__subtitle {
        margin-bottom: 80px;
    }

    .hero__subtitle:last-child {
        margin-left: 0px;
    }
}

@media screen and (max-width: 325px) {
    .hero__left-part {
        text-align: center;
    }

    .hero__left-part,
    .hero__right-part {
        margin: auto auto;
    }

    .hero__title {
        font-size: 20px;
    }

    .hero__subtitle {
        margin-bottom: 100px;
    }

    .hero__image {
        display: none;
    }
}

/*hero styles end*/

/* About company styles start (Julia) */
.about-company {
    margin-bottom: 160px;
    display: flex;
}

.about-company__left {
    margin-right: 102px;
}

.about-company__link {
    font-family: "Playfair Display";
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    color: #ffb577;
    text-decoration: none;
    margin-bottom: 24px;
    position: relative;
}

.about-company__link::after {
    content: url(/assets/img/svg/Line.svg);
    position: absolute;
    right: -64px;
    top: -6px;
}

.about-company__columns {
    margin-right: 32px;
}

.about-company__title {
    font-family: "Playfair Display";
    font-style: normal;
    font-weight: 700;
    font-size: 48px;
    line-height: 58px;
    color: #ffffff;
    max-width: 613px;
    margin-bottom: 32px;
}

.about-company__column-title {
    font-family: "Poppins";
    font-style: normal;
    font-weight: 500;
    font-size: 24px;
    line-height: 36px;
    color: #c4e4ea;
    margin-bottom: -20px;
}

.about-company__column-title::before {
    content: url(/assets/img/svg/column-ico.svg);
    margin-right: 7px;
}

.about-company__subtitle {
    max-width: 624px;
}

.second-part {
    margin-bottom: 32px;
}

.about-company__right {
    display: flex;
}

.about-company__right {
    max-height: 700px;
    max-width: 613px;
}

.about-company__img-2 {
    max-width: 240px;
    height: 500px;
    margin: 0px 0px 0px 67px;
}

.about-company__img-1 {
    max-width: 240px;
    height: 500px;
    margin: 71px 0px 0px 30px;
}

.about-company__container {
    display: flex;
    justify-content: space-between;
}

.about-company__column-subtitle {
    max-width: 187px;
}

.about-company__btn {
    width: 164px;
    height: 48px;
    background: #ffb577;
}

.about-company__btn::after {
    content: url(/assets/img/svg/Arrow-black.svg);
    margin-left: 9px;
}

@media (max-width: 960px) {
    .about-company {
        display: block;
    }

    .about-company__left {
        text-align: center;
        margin: auto;
        margin-bottom: 170px;
    }
}

@media screen and (max-width: 576px) {
    .about-company__left {
        text-align: center;
        margin: auto;
        margin-bottom: 170px;
    }

    .about-company__right {
        display: none;
    }
}

@media screen and (max-width: 325px) {
    .about-company__left {
        text-align: center;
        margin: auto;
        margin-right: 10px;
    }

    .about-company__right {
        display: none;
    }
}

/* About company styles end (Julia) */

/* What we are serving styles start (Gulya) */
.about__header {
    display: flex;
    align-items: center;
}

.what__wrapper {
    max-width: 1278px;
    margin: 0 auto;
    padding: 0 15px;
}

.what__logo {
    width: 48px;
    height: 48px;
}

.what {
    margin-left: 20px;
}

.abour__header_block1 {
    margin-right: 30px;
    width: 50%;
}

.about__header_block2 {
    width: 50%;
    margin-right: 50px;
}

.what__header_title {
    font-family: "Playfair Display";
    font-style: normal;
    font-weight: 700;
    font-size: 48px;
    line-height: 58px;
    color: #ffffff;
}

.what__container {
    display: flex;
}

.what__link {
    font-family: "Playfair Display";
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    color: #ffb577;
    text-decoration: none;
    margin-bottom: 24px;
    position: relative;
    margin-right: 10px;
}

.what__header {
    display: flex;
    align-items: center;
}

.what__main {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    grid-gap: 120px;
}

.about__logo {
    width: 48px;
    height: 48px;
}

.about {
    margin-left: 20px;
}

.about__header_block1 {
    margin-right: 30px;
    width: 50%;
}

.about__header_block2 {
    margin-right: 30px;
    width: 50%;
}

.about__heaad_title {
    font-family: "Playfair Display";
    font-style: normal;
    font-weight: 700;
    font-size: 48px;
    line-height: 58px;
    color: #ffffff;
}

@media screen and (max-width: 750px) {
    .about__header {
        margin: auto;
        display: flex;
        flex-wrap: wrap;
        flex-direction: column;
        align-items: center;
    }

    .what__container {
        justify-content: center;
    }

    .what__subtitle {
        font-size: larger;
    }

    .what__main {
        display: grid;
        grid-template-columns: 1fr;
        grid-auto-rows: 1fr 1fr 1fr 1fr 1fr 1fr;
    }

    .what__main_block-1 {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .what__main_block-text {
        margin-left: 60px;
        margin-right: 60px;
    }

    .what__main_block-3 {
        max-height: 233.73px;
    }
}

/* What we are serving styles end (Gulya) */

/* Our menu styles start (Gulya) */

.menu {
    margin-left: 20px;
    margin-right: 20px;
    margin-top: 10%;
}

.menu__wrapper {
    max-width: 1278px;
    margin: 0 auto;
    padding: 0 15px;
}

.menu__main {
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    grid-gap: 30px;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    justify-items: center;
}

.menu__container {
    display: flex;
    margin-top: 10%;
}

.menu__link {
    font-family: "Playfair Display";
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    color: #ffb577;
    text-decoration: none;
    margin-bottom: 24px;
    position: relative;
    margin-right: 10px;
}

.menu__header {
    display: flex;
    align-items: center;
}

.menu__header_block1 {
    width: 50%;
    font-family: "Playfair Display";
    font-style: normal;
    font-weight: 500;
    font-size: 35px;
    color: #ffffff;
}

.menu__header_block2 {
    width: 50%;
    margin-left: 50px;
}

.menu__container {
    display: flex;
    width: 100%;
}

.menu_button {
    display: flex;
    align-items: center;
    width: 164px;
    height: 48px;
    background-color: #ffb577;
    color: black;
    justify-content: center;
    margin: 0 auto;
    margin-top: 3rem;
    margin-block: 3rem;
    cursor: pointer;
}

.menu_button:hover,
.menu_button:focus,
.menu_button:active {
    opacity: 0.75;
}

.button_services__body:hover {
    background-color: #ffb577;
    border: #ffb577;
    background-color: #ecc19e;
    border: #ffb577;
    background-color: #ecc19e;
    border: #ffb577;
}

.menu__wrapper {
    width: 100%;
}

@media screen and (max-width: 750px) {
    .menu__container {
        justify-content: center;
        margin-top: 20px;
    }

    .menu__header {
        flex-direction: column;
        align-items: center;
    }

    .menu__main {
        display: grid;
        grid-template-columns: 1fr;
        grid-auto-rows: 1fr 1fr 1fr 1fr 1fr 1fr;
        justify-content: center;
        grid-gap: 0px;
    }
}

/* Our menu styles end (Gulya) */

/*Part with Video (Mila)*/
.quote__wrapper {
    display: flex;
    justify-content: center;
    background-color: #1f1d21;
    margin-bottom: 118px;
}

.quote__left-part {
    margin-left: 160px;
    margin-right: 78px;
    width: 100%;
    max-width: 674px;
    max-height: 668px;
}

.quote__marks-sign {
    width: 100%;
    max-width: 34px;
    max-width: 35px;
    font-family: "Poppins", sans-serif;
    font-size: 72px;
    font-weight: normal;
    line-height: 128%;
    color: #ffffff;
    margin-bottom: 43px;
}

.quote__text-words {
    width: 100%;
    max-width: 436px;
    max-height: 288px;
    font-family: "Playfair Display";
    font-style: normal;
    font-weight: 500;
    font-size: 32px;
    line-height: 48px;
    color: #ffffff;
    opacity: 0.87;
}

.quote__person {
    display: flex;
    justify-content: space-between;
}

.quote__person-face {
    border-bottom: 2px solid white;
}

.quote__person-name,
.quote__person-place {
    margin: 0;
}

.quote__person-name {
    width: 100%;
    max-width: 113px;
    max-height: 24px;
}

.quote__person-place {
    opacity: 0.6;
}

.quote__person-line {
    opacity: 0.24;
    width: 100%;
}

.quote__right-part {
    width: 100%;
    max-width: 925px;
    max-height: 668px;
}

.quote__right-part-video {
    position: relative;
}

.quote__video-button {
    position: absolute;
    top: 50%;
    left: 50%;
    cursor: pointer;
}

@media screen and (min-width: 768px) and (max-width: 1023px) {
    .quote__left-part {
        margin-left: 80px;
        margin-right: 39px;
    }

    .quote__text-words {
        font-size: 16px;
    }

    .quote__marks-sign {
        font-size: 36px;
        margin-bottom: 0px;
    }

    .quote__right-part {
        align-self: center;
    }
}

@media screen and (min-width: 400px) and (max-width: 767px) {
    .quote__wrapper {
        display: block;
    }

    .quote__left-part {
        margin-left: 5px;
        margin-right: 5px;
        width: 100vw;
    }

    .quote__text-words {
        font-size: 16px;
    }

    .quote__marks-sign {
        font-size: 16px;
        margin-bottom: 0px;
    }

    .quote__person-face {
        display: none;
    }

    .quote__video-button {
        max-width: 36px;
    }
}

<<<<<<< HEAD @media screen and (max-width:399px) .quote__wrapper {
    display: block;
}

.quote__left-part {
    margin-left: 5px;
    margin-right: 5px;
    width: 100vw;
}

.quote__text-words {
    font-size: 12px;
}

.quote__marks-sign {
    font-size: 12px;
    margin-bottom: 0px;
}

.quote__person-face {
    display: none;
}

=======@media screen and (max-width: 399px) {
    .quote__wrapper {
        display: block;
    }

    .quote__left-part {
        margin-left: 5px;
        margin-right: 5px;
        width: 100vw;
    }

    .quote__text-words {
        font-size: 12px;
    }

    .quote__marks-sign {
        font-size: 12px;
        margin-bottom: 0px;
    }

    .quote__person-face {
        display: none;
    }

    .quote__video-button {
        max-width: 24px;
    }

    /*Our story start (Gulya)*/
    >>>>>>>f8c58581de29b963e4a30b2f3336dc979a692608 .quote__video-button {
        max-width: 24px;
    }

    <<<<<<< HEAD

    /*Our story start (Gulya)*/
    =======.story__body {
        max-width: 75%;
        margin: 0 auto;
    }

    >>>>>>>f8c58581de29b963e4a30b2f3336dc979a692608 .story__wrapper {
        max-width: 100%;
        margin: 20px 0px 0px 0px;
        max-width: 1278px;
        margin: 0 auto;
        padding: 0 15px;
    }


    <<<<<<< HEAD .story__body {
        max-width: 75%;
        margin: 0 auto;
    }

    .story__inscription {
        margin: 95px 0px 0px 30px;
    }

    =======.image_1 {
        max-width: 240px;
        max-height: 500px;
        margin: 75px 0px 0px 30px;
    }

    >>>>>>>f8c58581de29b963e4a30b2f3336dc979a692608 .story__subtitle {
        margin-left: 30px;
        margin-top: 0px;
        height: 84px;
        width: 515px;
    }


    <<<<<<< HEAD .image_1 {
        max-width: 240px;
        max-height: 500px;
        margin: 75px 0px 0px 30px;
    }

    .image_2 {
        max-width: 240px;
        max-height: 500px;
        margin: -10px 0px 0px 30px;
    }

    .story__images {
        display: flex;
    }

    =======.story__article {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        width: 50%;
        justify-content: center;
    }

    >>>>>>>f8c58581de29b963e4a30b2f3336dc979a692608 .story__article {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        width: 50%;
        justify-content: center;

        <<<<<<< HEAD
    }

    .story__content {
        display: flex;
    }


    .story__title {
        font-family: "Playfair Display";
        font-style: normal;
        font-weight: 700;
        font-size: 68px;
        line-height: 58px;
        color: #ffffff;
    }

    .story__article_header {
        font-family: "Playfair Display";
        font-style: normal;
        font-weight: 700;
        font-size: 48px;
        line-height: 58px;
        color: #ffffff;
        margin-top: -25px;


    }

    .story__aside {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        width: 50%;
    }

    @media screen and (max-width: 1150px) .story__content {
        display: flex;
        flex-direction: column;
        align-items: center;
    }


    .story__article {
        margin-top: 10%;
    }

    =======.story__title {
        font-family: "Playfair Display";
        font-style: normal;
        font-weight: 700;
        font-size: 68px;
        line-height: 58px;
        color: #ffffff;
    }

    .story__article_header {
        font-family: "Playfair Display";
        font-style: normal;
        font-weight: 700;
        font-size: 48px;
        line-height: 58px;
        color: #ffffff;
        margin-top: -25px;
    }

    .story__aside {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        width: 50%;
    }

    @media screen and (max-width: 1150px) {
        .story__content {
            display: flex;
            flex-direction: column;
            align-items: center;
        }

        .story__article {
            margin-top: 10%;
        }
    }

    @media screen and (min-width: 940px) and (max-width: 1070px) {
        .story__wrapper {
            min-width: 1100px;
        }

        >>>>>>>f8c58581de29b963e4a30b2f3336dc979a692608 @media screen and (min-width: 940px) and (max-width: 1070px) .story__wrapper {
            min-width: 1100px;
        }

        <<<<<<< HEAD .story__content {
            margin-left: 10px;
            margin-right: 10px;
            max-width: 1278px;

            margin-right: 0px;
        }

        .story__aside {
            margin-right: 5%;
        }

        .story__content {
            display: flex;
            flex-direction: row;

            =======.story__content {
                display: flex;
                flex-direction: row;
            }
        }

        @media screen and (max-width: 860px) {
            .story__images {
                display: flex;
                flex-direction: column;
            }

            >>>>>>>f8c58581de29b963e4a30b2f3336dc979a692608>>>>>>>f8c58581de29b963e4a30b2f3336dc979a692608
        }

        <<<<<<< HEAD @media screen and (max-width: 860px) .story__images {
            display: flex;
            flex-direction: column;

        }

        .story__aside {
            margin-left: 40%;
        }


        .story__subtitle {
            font-size: 24px;
        }

        .image_1 {

            min-width: 440px;
            min-height: 600px;

            =======.story__subtitle {
                font-size: 24px;
            }

            .image_1 {
                min-width: 440px;
                min-height: 600px;
            }

            .image_2 {
                min-width: 440px;
                min-height: 600px;
                margin-top: 20px;
            }

            >>>>>>>f8c58581de29b963e4a30b2f3336dc979a692608>>>>>>>f8c58581de29b963e4a30b2f3336dc979a692608
        }

        .image_2 {
            min-width: 440px;
            min-height: 600px;
            margin-top: 20px;

        }

        .story__inscription {
            margin-left: 30%;
            width: 150%;
        }

        <<<<<<< HEAD .story__article {
            margin-left: 50%;
        }

        .story__header {
            margin-left: 20%;
            width: 100%;
        }

        .story__article__text1 {
            font-size: 24px;
            width: 150%;
        }

        .story__article__text2 {
            font-size: 24px;
            width: 150%;


        }

        @media screen and (max-width: 600px) {}

        .story__aside {
            margin-left: 70%;
        }


        .story__subtitle {
            font-size: 32px;
        }

        .image_1 {
            min-width: 540px;
            min-height: 700px;
        }

        .image_2 {
            min-width: 540px;
            min-height: 700px;
            margin-top: 20px;
        }

        .story__inscription {
            margin-left: 50%;
            width: 200%;
        }

        .story__header {
            margin-left: 10%;
            width: 200%;
            margin-top: 5%;
        }

        .story__article__text1 {
            font-size: 32px;
            width: 200%;
        }

        .story__article__text2 {
            font-size: 32px;
            width: 200%;

            =======.story__article__text2 {
                font-size: 24px;
                width: 150%;
            }
        }
    }

    @media screen and (max-width: 600px) {
        .story__aside {
            margin-left: 70%;
        }

        .story__subtitle {
            font-size: 32px;
        }

        .image_1 {
            min-width: 540px;
            min-height: 700px;
        }

        .image_2 {
            min-width: 540px;
            min-height: 700px;
            margin-top: 20px;
        }

        .story__inscription {
            margin-left: 50%;
            width: 200%;
        }

        .story__header {
            margin-left: 10%;
            width: 200%;
            margin-top: 5%;
        }

        .story__article__text1 {
            font-size: 32px;
            width: 200%;
        }

        .story__article__text2 {
            font-size: 32px;
            width: 200%;
        }
    }



    /*Our story end (Gulya)*/

    /* About blog (Nadya) */
    .blog {
        box-sizing: border-box;
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(405px, 1fr));
        grid-template-rows: 15% 85%;
        align-items: center;
        gap: 32px;
        max-width: 1280px;
        width: 100%;
        margin: 0 auto;
        margin-bottom: 207px;
    }

    .blog__title {
        grid-area: 1/1/2/4;
        width: 100%;
        font-family: 'Playfair Display';
        font-family: "Playfair Display";
        font-style: normal;
        font-weight: 700;
        font-size: 48px;
        line-height: 58px;
    }

    .blog__item1,
    .blog__item2,
    .blog__item3 {
        box-sizing: border-box;
        display: flex;
        flex: 1 1 auto;
        flex-direction: column;
        max-width: 405px;
        max-height: 526px;
        background-color: #1F1D21;
        justify-self: start;
    }

    .blog__item1__date,
    .blog__item2__date,
    .blog__item3__date,
    .blog__item1__about,
    .blog__item2__about,
    .blog__item3__about {
        margin: 0;
        padding: 32px;
        font-family: 'Poppins';
        font-style: normal;
        font-weight: 400;
        font-size: 14px;
        line-height: 24px;
        color: #B8B8B8;
    }

    .blog__item1__txt,
    .blog__item2__txt,
    .blog__item3__txt {
        font-family: 'Playfair Display';
        font-style: normal;
        font-weight: 700;
        font-size: 32px;
        line-height: 48px;
        color: #FFFFFF;
        margin: 0;
        padding: 8px 32px 0 32px;
    }

    .blog__image {
        position: relative;
        max-width: 405px;
        margin: 0;
        justify-self: end;
    }




    /* About contact (Nadya) */
    .contact {
        box-sizing: border-box;
        display: grid;
        max-width: 1278px;
        margin: 0 auto;
        grid-template-columns: repeat(3, 1fr);
        grid-template-rows: repeat(3, 1fr);
    }

    .contact__left {
        grid-area: 1/1/4/2;
        width: 100%;
        font-family: 'Playfair Display';
        font-style: normal;
        font-weight: 700;
        font-size: 20px;
        line-height: 30px;
        color: #ffffff;
        background: #1f1d21;
        padding: 60px 64px;
        align-self: stretch;
    }

    .working__hour,
    .details__txt,
    .details__contact {
        font-family: 'Playfair Display';
        font-family: "Playfair Display";
        font-style: normal;
        font-weight: 700;
        font-size: 20px;
        line-height: 30px;
        color: #FFFFFF;
    }

    .details__phone,
    .details__email {
        display: flex;
        <<<<<<< HEAD color: #FFFFFF;
        text-decoration: none;
        font-family: 'Poppins';
        =======color: #ffffff;
        text-decoration: none;
        font-family: "Poppins";
        >>>>>>>f8c58581de29b963e4a30b2f3336dc979a692608 font-style: normal;
        font-weight: 400;
        font-size: 16px;
        line-height: 28px;
    }

    .map__right {
        grid-area: 1/2/4/4;
        width: 100%;
        border: 0;
    }

    .map__right iframe {
        width: 100%;
        height: 100%;
    }

    <<<<<<< HEAD=======>>>>>>>f8c58581de29b963e4a30b2f3336dc979a692608
    /* About footer (Nadya) */

    .footer__wrapper:hover {
        border: 3px solid rgba(83, 23, 75, 0.829);
    }

    .footer__wrapper {
        box-sizing: border-box;
        margin: 0 auto;
        padding-top: 160px;
        display: flex;
        max-width: 100%;
        flex-direction: column;
        justify-content: center;
    }

    <<<<<<< HEAD=======>>>>>>>f8c58581de29b963e4a30b2f3336dc979a692608 .footer__list {
        display: inline-flex;
        justify-content: center;
        list-style-type: none;
        padding-left: 0 32%;
    }

    .footer__item {
        margin: 0 40px;
        <<<<<<< HEAD
    }

    .footer__link {
        color: #FFFFFF;
        =======
    }

    .footer__link {
        color: #ffffff;
        >>>>>>>f8c58581de29b963e4a30b2f3336dc979a692608 text-decoration: none;
    }

    .footer__bottom:hover {
        border-top: 3px solid rgba(119, 29, 158, 0.829);
    }

    .footer__bottom {
        display: flex;
        align-items: center;
        max-width: 100%;
        padding: 0 8%;
        justify-content: space-between;
        border-top: 1px solid rgba(255, 255, 255, 0.07);
    }

    .social_icons {
        display: inline-flex;
        padding-left: 0;
        list-style-type: none;
        text-decoration: none;
        justify-content: center;
    }

    .icons__facebook,
    .icons__twitter,
    .icons__instagram,
    .icons__LinkedIn {
        <<<<<<< HEAD padding: 12px=======padding: 12px;
        >>>>>>>f8c58581de29b963e4a30b2f3336dc979a692608
    }

    .footer__container {
        display: inline-flex;
        margin: 0 40px;
    }

    .footer__arrow {
        margin-left: 9px;
        color: rgba(255, 181, 119, 1);
    }

    /* About footer (Nadya) end */
    /* About footer (Nadya) end*/
    >>>>>>>f8c58581de29b963e4a30b2f3336dc979a692608