html {
    box-sizing: border-box;
}

*,
*::before,
*::after {
    -webkit-box-sizing: inherit;
    box-sizing: inherit;
}

body {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    color: white;
    background-color: rgba(25, 22, 27, 1);
}

img {
    max-width: 100%;
    height: auto;
}

p {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 28px;
    color: #B8B8B8;
}

.general-subtitle {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 28px;
    color: #B8B8B8;
}

.general-button {
    width: 164px;
    height: 48px;
    background: #FFB577;
}

/*  header styles start (Julia)*/

.header {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    justify-content: space-between;
    height: 80px;
}

.header__logo {
    Width: 96px;
    Height: 19.42px;
}

.wrapper {
    max-width: 1278px;
    margin: 0 auto;
}

.header__left-part {
    display: flex;
    flex-wrap: wrap;
}

.header__list {
    display: flex;
    flex-wrap: wrap;
}

.header__item {
    display: flex;
    flex-wrap: wrap;
    list-style-type: none;
    margin-right: 40px;
}

.header__item:last-child {
    margin-right: 0;
}

.header__link {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
    text-transform: capitalize;
    color: #FFFFFF;
    text-decoration: none;
}

.header__link:hover,
.header__link:focus,
.header__link:active {
    opacity: .75;
}


.right-link {
    display: inline-block;
    padding-right: 32px;
    line-height: 24px;
    color: rgba(255, 196, 146, 1);
    text-decoration: none;
    background: url(/assets/img/svg/right-arrow.svg) no-repeat 95% center;
    transition: .2s all;
}

/* header  styles end */

/*hero styles start (Julia)*/
.hero {
    margin-bottom: 160px;

}

.hero__container {
    display: flex;
    margin-top: 96px;
}

.hero__left-part {
    max-width: 624px;
    margin-right: 32px;
}

.hero__title {
    max-width: 624px;
    height: 136px;
    font-family: 'Playfair Display';
    font-style: normal;
    font-weight: 700;
    font-size: 56px;
    line-height: 68px;
    color: #FFFFFF;
    opacity: 0.87;
    margin-bottom: 16px;
}

.hero__subtitle {
    max-width: 624px;
    height: 56px;
    margin-bottom: 32px;
}

.sm-text {
    font-size: 20px;
    line-height: 30px;
    height: 30px;
}

.hero__image {
    width: 622px;
    height: 683px;
}

/*hero styles end*/

/* About company styles start (Julia) */
.about-company__title {
    font-family: 'Playfair Display';
    font-style: normal;
    font-weight: 700;
    font-size: 48px;
    line-height: 58px;
    color: #FFFFFF;
    max-width: 613px;
    margin-bottom: 32px;

}

.about-company__column-title {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 500;
    font-size: 24px;
    line-height: 36px;
    color: #C4E4EA;
}

.about-company__column-title::before {
    content: url(/assets/img/svg/column-ico.svg);
    margin-right: 7px;
}

.about-company__subtitle {
    max-width: 624px;
}

.about-company__left {
    max-width: 613px;
}

.about-company__container {
    display: flex;
    justify-content: space-between;
}

.about-company__column-subtitle {
    max-width: 112px;
}

.about-company__btn {
    width: 164px;
    height: 48px;
    background: #FFB577;
}

.about-company__btn::after {
    content: url(/assets/img/svg/Arrow-black.svg);
    margin-left: 9px;
}

/* About company styles end (Julia) */